[Desktop Entry]
Name=FFStudio
Comment=Level up your FFmpeg experience!!!
Exec=FFStudio
Icon=ffstudio
Terminal=false
Type=Application
Categories=AudioVideo;Video;Audio;